out
dist
lib
node_modules
client/server
.vscode-test
.vscode-test-web
.codex/
.ftlocal/
/docs/changelog/01-lsp-server/
/docs/changelog/02-release-automation/
/docs/changelog/03-public-repo/
.idea/
*.iml
tsconfig.tsbuildinfo
bin/

__pycache__/
